<template>
  
  <v-container class="grey lighten-5">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          color="red lighten-2"
          dark
          v-on="on"
        >
          Tambah Post
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Tambah Post
        </v-card-title>

        <v-card-text>
          <v-form
    ref="form"
  >
  
    <v-text-field
      v-model="title"
      label="Title"
      required
    ></v-text-field>

    <v-text-field
      v-model="body"
      label="body"
      required
    ></v-text-field>
    <v-btn
    color="red lighten-2"
          dark
      @click="formSubmit"
    >
      Simpan
    </v-btn>
  </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <div v-infinite-scroll="getDataPost" infinite-scroll-disabled="busy" infinite-scroll-distance="limit">
    <v-row>
      <v-col v-for="(item, idx) in posts" :key="idx" cols="3"
        md="4">
        <v-card class="max-auto" height="100%" data-aos="slide-up" data-aos-offset="100" data-aos-easing="ease-out-back">
          <v-card-title>{{ item.title }}</v-card-title>
          <v-card-text>{{ item.body }}</v-card-text>
          <v-card-actions>
            <v-btn @click="editPosts(item.id)">Edit</v-btn>
            <v-btn @click="deletePosts(item.id)">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import axios from "axios"
import AOS from "aos";
import "aos/dist/aos.css";

const URL = "https://jsonplaceholder.typicode.com/posts/";
export default {
  name: 'Posts',
  methods: {
    async getDataPost() {
      this.busy = true;
      await axios.get(URL).then((response) => {
        const append = response.data.slice(
          this.posts.length,
          this.posts.length + this.limit
        );
        this.posts = this.posts.concat(append);
        this.busy = false;
      });
    },
    formSubmit() {
      if(this.idPosts == null) {
        this.formSimpanPosts();
      } else {
        this.formEditPosts(); 
      }
    },
    async formSimpanPosts() {
      await axios.post(URL, {
          title: this.title,
          body: this.body,
          userId: 1,
          isNew: true
      }).then((response) => {
        this.posts = [];
        this.posts.push(response.data);
        this.getDataPost();
        this.dialog = false;
      });
    },
    async formEditPosts() {
      await axios.put(URL + this.idPosts, {
          title: this.title,
          body: this.body,
          userId: this.userId
      }).then((response) => {

        const dataPosts = this.posts.findIndex(p => p.id === this.idPosts)
        this.posts[dataPosts] = response.data;
        
        this.dialog = false;
      });
    },
    async editPosts(data) {
      this.dialog = true;
      await axios.get(URL + data).then((response) => {
        this.idPosts = response.data.id;
        this.title = response.data.title;
        this.body = response.data.body;
        this.userId = response.data.userId;
      });
    },
    async deletePosts(data) {
      await axios.delete(URL + data)
      .then(response => {
        this.posts = this.posts.filter(i => i.id !== data);
      });
    }
  },
  async beforeMount(){
    await this.getDataPost();
    AOS.init();
  },
  data() {
    return {
      posts: [],
      dialog: false,
      idPosts: null,
      title: null,
      body: null,
      userId: null,
      limit: 8,
      busy: false
    }
  },
  watch: {
    dialog (val) {
      if(!val) {
        this.idPosts = null;
        this.title = null;
        this.body = null;
        this.userId = null;
      }
    }
  }
}
</script>
